@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter.woff2) format('woff2');
}

body, html {
    background-color: #111217;
    color: white;
    font-family: 'Inter', sans-serif;
}

p {
    height: fit-content;
}

a:visited, a:link, a:active {
    color: inherit;
}

input, button {
    background-color: #1E2127;
    color: inherit;
    font-family: inherit;
    border: none;
    padding: 10px;
    border-radius: 8px;
    appearance: none;
}

button {
    cursor: pointer;
    font-weight: 600;
}

input:focus {
    outline: none;
}